.rate-container{
    width:35%
}

.rate-container::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .rate-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }
  
  /* Handle */
  .rate-container::-webkit-scrollbar-thumb {
    background: var(--secondary-transparent-color);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  .rate-container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  @media screen and (max-width: 990px){
    .rate-container{
        width: 50%;
    }
}
@media screen and (max-width: 400px){
    .rate-container{
        width: 100%;
    }
}