.sticky-consultation{
    background-color: #e4e3e3;
    box-shadow: 3px 3px 8px -3px #ddd;
    opacity: .9;
    border-radius: 8px;
    position: relative;
    right: -50;
    transition: all 2s cubic-bezier(0.215, 0.610, 0.355, 1);
    padding:.8rem .5rem;
    margin: 1rem 0;
}

.sticky-consultation button, .consult__control button{
    border:1px solid var(--secondary-color);
    background-color: transparent;
    padding: .2rem .5rem;
    border-radius: 8px;
    display: flex;
    gap:1rem;
    align-items: center;
    font-size: .8rem;
    background-color: #fff;
    box-shadow: 3px 3px 8px -3px #ddd;
    opacity: .9;
    border-radius: 8px;
}
.sticky-consultation button:hover{
    background-color: var(--secondary-color);
    color:#fff;
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.consult__control{
    display: flex;
    justify-content: end;
}
.consult__control button{

}
.consultation__cover{
    position: fixed;
    right: 0;
    top: 60%;
    padding: .5rem;
}