.account__details__cover{
    background-color: #fff;
    border-radius: 10px;
    height:80vh;
    overflow-y: auto;
    padding: 1.2rem;
}
.account__details__cover::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .account__details__cover::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }
  
  /* Handle */
  .account__details__cover::-webkit-scrollbar-thumb {
    background: var(--secondary-transparent-color);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  .account__details__cover::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
.account__details__cover img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.account__details__wrapper h2{
    position: fixed;
}
.change__profile__pic{
    background-color: rgba(128, 128, 128, 0.4);
    bottom: 0;
    width: 100%;
    height: 50%;
    border-radius: 50%;
    text-align: center;
}
.change__profile__pic i{
    color: #fff;
}
.input-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.input-section .input, .passwords{
    width: 50%;
}
.input-section input, .passwords input{
    display: block;
    width: 100%;
    border: none;
    outline: none;
    font-size: .8rem;
}
.input__cover{
    background-color: #fff;
    width: 100%;
    padding: .4rem 1rem;
    box-shadow: 1px 1px 5px rgb(226, 225, 225);
    border-radius: 5px;
}
.input__cover i{
    font-size: 1rem;
}
.account__form{
    width: 100%;
}
.account__form label{
    font-size: .8rem;
}
.account__form button{
    width: 100%;
    border: none;
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding:.4rem 1rem;
    font-size: .8rem;
    color: #fff;
    margin-top:1rem;
}
.account__form textarea{
    width: 100%;
    height: 120px;
    outline: none;
    box-sizing: border-box;
    padding: 1rem;
    font-size: .8rem;
    border: none;
    box-shadow: 1px 1px 5px rgb(226, 225, 225);
}
.textarea{
    margin: 0 !important;
}
button{
    display:flex;
    justify-content: center;
}
.mb-3{
    margin-bottom: 0 !important;
}
@media screen and (max-width: 990px){
    .input-section{
        display: block;
    }
    .input-section .input{
        width: 100%;
    }
}