body.inactive{
    pointer-events: none;
    background-color: rgba(128, 128, 128, 0.446);
}

.toggle-categories{
    position: relative;
}
.toggle button{
    cursor: pointer;
}

.toggle-children-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Dark semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.toggle-children-overlay-account{
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); /* Dark semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.toggle-children{
    width: 80%;
    height: 90%;
    background-color: #fff;
    position: absolute;
    top: 50px;
    bottom: 50px;
    right: 0;
    left: 0;
    margin: auto auto auto auto;
    padding: 1rem;
    overflow-y: auto;
    scrollbar-width: none;
}
.toggle-children ul{
    margin: 0;
    padding: 0;
}
.toggle-children ul li{
    list-style: none;
    cursor: pointer;
}
.ri-close-line{
    cursor: pointer;
}
@media screen and (max-width: 990px){
.toggle-categories{
    width: 55%;
}
}