@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #254222;
  --secondary-color: #199b74;
  --secondary-transparent-color: rgba(25, 155, 116, 0.2);
  --heading-color: #0b2727;
  --text-color: #6e7074;
  --nav-color: rgba(152, 152, 152, 0.2);
  --nav-text-color: rgba(152, 152, 152);
  --font-name: "Montserrat", sans-serif;
  --subtitle-font-name: "Island Moments", cursive;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-name);
}/* #cc6633 #e78169 b9b26c #94dea5 9cc66 ece2b1 003333 009933 996633*/