.categories-card{
    background-color: rgba(222, 243, 251, 0.3);
    box-shadow:1px 1px 5px rgb(226, 225, 225);
    border-radius: 5px;
    padding: 1rem;
    width: 150px;
    height: 160px;
    transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.categories-card:hover{
    background-color: rgba(25, 155, 116, 0.2);
    padding: .5rem;
}
.categories-card img{
    width: 60% !important;
    height: 80px;
    border-radius: 5px;
    width: 100%;
    margin: 5px;
}
.category-wrapper{
    margin: 1rem 6rem;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    width: 100%;
    overflow-x: auto !important;
}
.category-wrapper::-webkit-scrollbar {
    height: 5px;
  }
  
  /* Track */
  .category-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }
  
  
  /* Handle */
  .category-wrapper::-webkit-scrollbar-thumb {
    background: var(--secondary-transparent-color);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  .category-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.categories-card h6,.categories-card p{
    text-align: center;
    line-height: 1rem;
    font-size: .8rem;
    color: rgb(103, 101, 101);
}

.categories-card h6{
    font-weight: 700;
}
.categories-card:hover{
    cursor: pointer;
}
@media screen and (max-width: 990px){
    .category-wrapper{
        margin: 0;
    }
    .categories-card{
        height: 150px;
        min-width: 200px;
    }
    .categories-card img{
        height: 80px;
        width: 100px;
    }
}